.wrapper {
    width: 100%;
    height: 100%;
}
.sec-intro {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../images/tft_taust.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec-intro h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 1.5em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: goldenrod;
    font-size: 7em;
    vertical-align: middle;
    text-shadow: 4px 4px black;
}
.artikli-osa {
    position: relative;
    width: 100%;
    background-color: goldenrod;
    background-size: cover;
}
.col-2 {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.col-2 h1 {
    text-align: center;
    font-size: 3em;
}
.col-2 p {
    text-align: center;
    font-size: 2em;
}
br {clear:left}
.menuu {
    width: 100%;
    background-color: #005555;
}
.menuu ul {
    margin: 0;
    padding: 0;
    float: left;
}
.menuu ul li {
    display: inline;
}
.menuu ul li a {
    float: left;
    text-decoration: none;
    color: goldenrod;
    padding: 11px 11px;
    background-color:  #005555;
    font-size: 2em;
    font-family: "Arial Black", 'Gadget', sans-serif;
    border: 1px groove;
}
.menuu ul li a:visited {
    color: white;
}
.menuu ul li a:hover, .menuu ul li .current {
    color: white;
    background-color: #5FD367;
}
.alumine-osa {
    position: relative;
    width: 100%;
    background-color: gray;
}