.wrapper {
    width: 100%;
    height: 100%;
}
.sec-intro {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../images/tft_taust.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec-intro h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 1.5em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: goldenrod;
    font-size: 7em;
    vertical-align: middle;
    text-shadow: 4px 4px black;
}
.artikli-osa {
    float:left;
    clear:none;
    position: relative;
    width: 100%;
    background-color: goldenrod;
    background-size: cover;
}
.artikli-osa button {
    background-color: #005555;
    color: white;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.artikli-osa button:hover {
    color: gold;
    background-color: teal;
}
.col-1 {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.col-1 h1 {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col-1 p {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col-2 {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.col-2 h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col-2 p {
    text-align: center;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col-2 h3 {
    text-align: center;
    padding-top: 1em;
    font-size: xxx-large;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
br {clear:left}
.menuu {
    width: 100%;
    background-color: #005555;
}
.menuu ul {
    margin: 0;
    padding: 0;
    float: left;
}
.menuu ul li {
    display: inline;
}
.menuu ul li a {
    float: left;
    text-decoration: none;
    color: goldenrod;
    padding: 11px 11px;
    background-color:  #005555;
    font-size: 2em;
    font-family: "Arial Black", 'Gadget', sans-serif;
    border: 1px groove;
}
.menuu ul li a:visited {
    color: white;
}
.menuu ul li a:hover, .menuu ul li .current {
    color: white;
    background-color: #004444;
}
.alumine-osa {
    float:left;
    clear:none;
    position: relative;
    width: 100%;
    background-color: goldenrod;
}
.alumine-osa h4 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.soc-media {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.soc-media li {
    margin-right: 1em;
    font-size: 1.5em;
    font-style: oblique;
}
.soc-media a {
    font-size: 1.2em;
    color: #fff;
}
.soc-media a:hover {
    color: white;
    background-color: gold;
}
.nupupaigutus {
    text-align: center;
}
.nuppkeskele {
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
}
.infopilt {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.infopilt img{
    max-width: 100%;
    max-height: 100%;
}
.solidborder {
    width: auto;
    height: auto;
    border-style: solid;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}
.pildipaigutus img{
    max-width: 100%;
    max-height: 100%;
}
.pildiala {
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}